/* --------------------------------------------------
// 02/TOOLS/MIXINS - GRID
// -------------------------------------------------- */

// Usage
// @include layout
// @include layout(48px)

@mixin grid($marginLeft: $gutter) {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$marginLeft;

  &_item {
    padding-left: $marginLeft;
  }
}

@mixin grid-width($x, $y: 1) {
  flex-basis: (100% / $x) * $y;
}

@mixin push($x, $y: 1) {
  margin-left: (100% / $x) * $y;
}
