/* --------------------------------------------------
// 02/TOOLS/MIXINS - GRID-WIDTHS
// -------------------------------------------------- */

$slash: \/ !default;

@mixin widths($namespace: "") {
  .u-full#{$namespace} {
    flex-basis: 100%;
  }

  .u-1#{$slash}2#{$namespace} {
    flex-basis: 50%;
  }

  .u-1#{$slash}3#{$namespace} {
    flex-basis: 33.33%;
  }

  .u-2#{$slash}3#{$namespace} {
    flex-basis: 66.66%;
  }

  .u-1#{$slash}4#{$namespace} {
    flex-basis: 25%;
  }

  .u-3#{$slash}4#{$namespace} {
    flex-basis: 75%;
  }
}
