/* --------------------------------------------------
// 03/BASE - NORMALISE DOCUMENT
// -------------------------------------------------- */

html {
  min-height: 100%;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
