/* --------------------------------------------------
// 04/ELEMENTS - HTML
// -------------------------------------------------- */

html {
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  color: $text;
  background-color: $bg;
}
