/* --------------------------------------------------
// 01-SETTINGS/COLOURS
// -------------------------------------------------- */

$bg           : #ddd;
$text         : #000;
$links        : #fff;
$borders      : #ccc;

$brand-a      : #fff;

$info         : #e0ebf0;
$warn         : #efac4d;
$error        : #dd3522;
$success      : #5cb75c;

$facebook     : #3b5897;
$twitter      : #00aceb;
$google       : #de4e3b;
$instagram    : #517fa4;

$youtube      : #bd0000;
$html         : #fca140;
$css          : #2489ae;
$js           : #fac552;
$misc         : #737373;
