/* --------------------------------------------------
// 01/SETTINGS/VARS - INCLUDED VARIABLES
// -------------------------------------------------- */

// elements
$include-headings        : true;
$include-images          : false;
$include-links           : false;
$include-tables          : false;

//objects
$include-container       : true;
$include-grid            : false;

// utilities
$include-spacings        : true;
$include-visibility      : false;
$include-widths          : false;
