/* --------------------------------------------------
// 01-SETTINGS/TYPOGRAPHY
// -------------------------------------------------- */

// $font-url              : '';

// FONT SETTINGS (GLOBAL)
$font-family           : sans-serif;
$font-size             : 100%;
$line-height           : $line-height-px / $font-size-px;

// HEADINGS
$heading-font-family   : inherit;
$heading-font-weight   : 700;

// FONT FAMILY ALTERNATIVES
$font-family-alt       : Cambria, Georgia, Times, "Times New Roman";
$font-family-code      : Monaco, Courier New, monospace;
